<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Set the page to the width of the device and set the zoon level -->
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>Add Data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{CSS/home.css}">
    <link rel="stylesheet" th:href="@{CSS/addData.css}">
    <link rel="stylesheet" href="https://js.arcgis.com/4.13/esri/themes/dark-green/main.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-text">Menu</span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a th:href="@{'/map'}" class="nav-link" role="button" aria-pressed="true">Map</a>
                <!--                <a class="nav-link" href="#">Home</a>-->
            </li>
            <li class="nav-item">
                <a th:href="@{'/add'}" class="nav-link" role="button" aria-pressed="true">Add Data</a>
                <!--                <a class="nav-link" href="#">Link</a>-->
            </li>
            <li class="nav-item">
                <a th:href="@{'/table'}" class="nav-link" role="button" aria-pressed="true">Table</a>
            </li>
        </ul>

        <!-- Button to Open the Modal -->
        <button type="button" class="btn btn-outline-light ml-auto mr-1" data-toggle="modal" data-target="#myModal">
            Log out
        </button>
        <!-- The Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Attention!</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        Are you sure you want to log out?
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <form action="login" method="get">
                            <a class="btn btn-outline-danger" th:href="'/login?logout'">Log out</a>
                        </form>
                        <button type="button" class="btn" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <form action="add" method="POST">
        <div class="form-group">
            <label for="Dutch_name"> Name: </label>
            <input id="Dutch_name" type="text" name="Dutch_name" class="form-control" placeholder="Enter the name" required/> <br/>
        </div>
        <div class="form-group">
            <label for="Scientific_name"> Scientific name: </label>
            <input id="Scientific_name" type="text" name="Scientific_name" class="form-control" placeholder="Enter the scientific name" required/><br/>
        </div>
        <div class="form-group">
            <label for="Status"> Status: </label>
            <input id="Status" type="text" name="Status" class="form-control" placeholder="Plant status" required/><br/>
        </div>

        <label for="option"> Select coordinate system: </label>
        <select class="form-control" id="option" name="coordsystem">
            <option value="GPS">GPS</option>
            <option value="RBC">RDS</option>
        </select> <br>
        <div class="form-group">
            <label id="RBCX" for="x_cord" style="display:none;"> x: </label>
            <label id="GPSLONG" for="x_cord"> longitude: </label>
            <input id="x_cord" type="text" name="x_cord" class="form-control" required/> <br/>
        </div>
        <div class="form-group">
            <label id="RBCY" for="x_cord" style="display:none;"> y: </label>
            <label id="GPSLAT" for="x_cord"> latitude: </label>
            <input id="y_cord" type="text" name="y_cord" class="form-control" required/><br/>
        </div>
        <input id="addbutton" type="submit" class="btn btn-primary" value="Add"/>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<script>
    $("#option").change(function() {

        if ( $(this).val() === "RBC") {

            $("#GPSLONG").hide();
            $("#GPSLAT").hide();

            $("#RBCX").show();
            $("#RBCY").show();
        }

        else{

            $("#GPSLONG").show();
            $("#GPSLAT").show();
            $("#RBCX").hide();
            $("#RBCY").hide();
        }
    });
</script>

</body>
</html>