<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{CSS/login.css}">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>login</title>
</head>

<body>
<!--<h4>Log in</h4>-->
<!--<h4 th:text="${message}" th:class="${message_type}">_message_</h4>-->

<div class="wrapper fadeInDown">
    <div id="formContent">
        <div id="formHeader">
            <a>Enter username and password</a>
        </div>
        <form action="login" method="POST">
            <input id="username_field" type="text" name="username" placeholder="Username" class="fadeIn second" required/> <br/>
            <input id="password_field" type="password" name="password" placeholder="Password" class="fadeIn third" required/> <br/>
            <input type="submit" value="login"/>
        </form>
        <div id="formFooter">
            <p id="error" th:text="${message}"></p>
        </div>
    </div>
</div>
</body>
</html>


<!--https://bootsnipp.com/snippets/dldxB-->