<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Set the page to the width of the device and set the zoon level -->
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>Map</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{CSS/home.css}">
    <link rel="stylesheet" href="https://js.arcgis.com/4.13/esri/themes/dark-green/main.css">
    <script src="https://js.arcgis.com/4.13/"></script>
    <meta charset="UTF-8">

    <script>
        require([
            "esri/Map",
            "esri/views/MapView",
            "esri/request",
            "esri/layers/FeatureLayer",
            "esri/widgets/Editor"
        ], function (Map, MapView, esriRequest, FeatureLayer, Editor) {

            var map = new Map({
                basemap: "topo-vector"
            });

            var view = new MapView({
                container: "viewDiv",
                map: map,
                center: [6.568213, 53.219388], // longitude, latitude
                zoom: 10
            });

            let editor;

            var editThisAction = {
                title: "Edit",
                id: "edit-this",
                className: "esri-icon-edit"
            };

            var deleteThisAction = {
                title: "Delete",
                id: "delete-this",
                className: "esri-icon-trash"
            };

            // Define the options for the request
            let options = {
                query: {
                    limit: 30
                },
                responseType: "json"
            };

            let features = [];

            /**
             * Perform a GET request for earthquake data in JSON format.
             * Data is received as a list of features where each feature is an earthquake event. This data is
             * reformatted in the ArcGIS feature-format, combined into a FeatureLayer which is then added
             * to the existing map object for visualization.
             */
            esriRequest("/mapdata", options).then(function (response) {
                let coords = JSON.stringify(response, null, 2);
                response.data.forEach(coords => {

                    /* Extract data from each response element into a feature
                    consisting of the geometry and any attributes */
                    let geometry = {
                        type: "point",
                        x: parseFloat(coords['latLon'][0]),
                        y: parseFloat(coords['latLon'][1])
                    };

                    let attr = {
                        objectId: coords.objectId,
                        scientificName: coords.scientificName,
                        dutchName: coords.dutchName,
                        plantState: coords.plantState,
                        date: coords.date
                    };

                    features.push({
                        geometry: geometry,
                        attributes: attr
                    });
                });

                // Create popup template
                const popupTemplate = {
                    title: "{objectId} " + "{dutchName}",
                    content: [
                        {
                            type: "fields",
                            fieldInfos: [
                                {
                                    fieldName: "scientificName",
                                    label: "Scientific Name"
                                }, {
                                    fieldName: "plantState",
                                    label: "Status"
                                }, {
                                    fieldName: "date",
                                    label: "Date"
                                }
                            ]
                        }
                    ],
                    actions: [editThisAction, deleteThisAction]
                };

                let pointFeatureLayer = new FeatureLayer({
                    source: features,
                    objectIdField: "{objectId}",
                    popupTemplate: popupTemplate,
                    fields: [
                        {
                            name: "objectId",
                            type: "string"
                        }, {
                            name: "scientificName",
                            type: "string"
                        }, {
                            name: "dutchName",
                            type: "string"
                        }, {
                            name: "plantState",
                            type: "string"
                        }, {
                            name: "date",
                            type: "string"
                        }
                    ]
                });

                // Add FeatureLayer to the map.
                map.add(pointFeatureLayer);

                view.when(function () {
                    createEditor();

                    // Execute each time the "Edit feature" action is clicked
                    function editThis() {
                        // If the EditorViewModel's activeWorkflow is null, make the popup not visible
                        if (!editor.viewModel.activeWorkFlow) {
                            view.popup.visible = false;
                            // Call the Editor update feature edit workflow

                            editor.startUpdateWorkflowAtFeatureEdit(
                                view.popup.selectedFeature
                            );
                            view.ui.add(editor, "top-right");
                            view.popup.spinnerEnabled = false;
                        }

                        // We need to set a timeout to ensure the editor widget is fully rendered. We
                        // then grab it from the DOM stack
                        setTimeout(function() {
                            // Use the editor's back button as a way to cancel out of editing
                            let arrComp = editor.domNode.getElementsByClassName(
                                "esri-editor__back-button esri-interactive"
                            );
                            if (arrComp.length === 1) {
                                // Add a tooltip for the back button
                                arrComp[0].setAttribute(
                                    "title",
                                    "Cancel edits, return to popup"
                                );
                                // Add a listerner to listen for when the editor's back button is clicked
                                arrComp[0].addEventListener("click", function(evt) {
                                    // Prevent the default behavior for the back button and instead remove the editor and reopen the popup
                                    evt.preventDefault();
                                    view.ui.remove(editor);
                                    view.popup.open({
                                        features: features
                                    });
                                });
                            }
                        }, 150);
                    }

                    function createEditor() {
                        editor = new Editor({
                            view: view,
                            container: document.createElement("div"),
                            layerInfos: [
                                {
                                    layer: pointFeatureLayer,
                                    fieldConfig: [
                                        {
                                            name: "dutchName",
                                            label: "Dutch name:"
                                        }, {
                                            name: "scientificName",
                                            label: "Scientific name:"
                                        }, {
                                            name: "plantState",
                                            label: "Plant state:",
                                            hint: "State the plant is currently in."
                                        }
                                    ],
                                    enabled: true, // default is true, set to false to disable editing functionality
                                    addEnabled: false, // default is true, set to false to disable the ability to add a new feature
                                    updateEnabled: true, // default is true, set to false to disable the ability to edit an existing feature
                                    deleteEnabled: false, // default is true, set to false to disable the ability to delete features
                                }
                            ],
                            allowedWorkflows: ["update"]
                        });
                    }

                    // Event handler that fires each time an action is clicked
                    view.popup.on("trigger-action", function (event) {
                        if (event.action.id === "edit-this") {
                            let feature = view.popup.selectedFeature;
                            createEditor();
                            editThis();
                            addEventListener("click", function (evt) {
                                let target = evt.target.innerText;
                                console.log(target);
                                if (target === "Update") {
                                    editFeature(feature);
                                }
                            });
                        }
                        else if (event.action.id === "delete-this") {
                            location.href = "/table"
                        }
                    });

                    // Watch when the popup is visible
                    view.popup.watch("visible", function (event) {
                        // Check the Editor's viewModel state, if it is currently open and editing existing features, disable popups
                        if (editor.viewModel.state === "editing-existing-feature") {
                            view.popup.close();
                        } else {
                            // Grab the features of the popup
                            features = view.popup.features;
                        }
                    });
                });

                function editFeature(feature) {
                    view.ui.remove(editor);

                    // features.forEach(function (feature) {
                        window.feature = feature;
                        formData = new FormData();

                        for (const field in feature.attributes) {
                            formData.append(field, feature.attributes[field]);
                        }

                        fetch("/update", {
                            method: "POST",
                            body: formData
                        }).then((console.log("updated")));

                        // Reset the template for the feature if it was edited
                        feature.popupTemplate = popupTemplate;
                    // });

                    // Open the popup again and reset its content after updates were made on the feature
                    if (features) {
                        view.popup.open({
                            features: features
                        });
                    }

                    // Cancel the workflow so that once edits are applied, a new popup can be displayed
                    editor.viewModel.destroy();
                }
            });
        });
    </script>
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-text">Menu</span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a th:href="@{'/map'}" class="nav-link" role="button" aria-pressed="true">Map</a>
                <!--                <a class="nav-link" href="#">Home</a>-->
            </li>
            <li class="nav-item">
                <a th:href="@{'/add'}" class="nav-link" role="button" aria-pressed="true">Add Data</a>
                <!--                <a class="nav-link" href="#">Link</a>-->
            </li>
            <li class="nav-item">
                <a th:href="@{'/table'}" class="nav-link" role="button" aria-pressed="true">Table</a>
            </li>
        </ul>

        <!-- Button to Open the Modal -->
        <button type="button" class="btn btn-outline-light ml-auto mr-1" data-toggle="modal" data-target="#myModal">
            Log out
        </button>
        <!-- The Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Attention!</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        Are you sure you want to log out?
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <form action="login" method="get">
                            <a class="btn btn-outline-danger" th:href="'/login?logout'">Log out</a>
                        </form>
                        <button type="button" class="btn" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</nav>

<div id="viewDiv"></div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>