<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Set the page to the width of the device and set the zoon level -->
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>Data Table</title>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css ">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{CSS/home.css}">
    <link rel="stylesheet" th:href="@{CSS/table.css}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>

    <script>

        $(document).ready( function () {

            let table = $('#table').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        text: 'Delete',
                        attr:  {
                            id: 'deleteButton'
                        },
                        action: function () {
                            var dat = table.rows( { selected: true } ).data();
                            var i;
                            for (i = 0; i < dat.length; i++) {

                                let formData = new FormData();

                                for (const field in dat[i]) {
                                    formData.append(field, dat[i][field]);
                                }

                                fetch("/delete", {
                                    method: "POST",
                                    body: formData
                                });
                            }
                        }
                    }
                ],
                responsive: true,
                select: true
            });

            $('#deleteButton').click(function () {
                console.log("aaaaaaaa")
            })
        } );
    </script>

</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-text">Menu</span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a th:href="@{'/map'}" class="nav-link" role="button" aria-pressed="true">Map</a>
                <!--                <a class="nav-link" href="#">Home</a>-->
            </li>
            <li class="nav-item">
                <a th:href="@{'/add'}" class="nav-link" role="button" aria-pressed="true">Add Data</a>
                <!--                <a class="nav-link" href="#">Link</a>-->
            </li>
            <li class="nav-item">
                <a th:href="@{'/table'}" class="nav-link" role="button" aria-pressed="true">Table</a>
            </li>
        </ul>

        <!-- Button to Open the Modal -->
        <button type="button" class="btn btn-outline-light ml-auto mr-1" data-toggle="modal" data-target="#myModal">
            Log out
        </button>
        <!-- The Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Attention!</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        Are you sure you want to log out?
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <form action="login" method="get">
                            <a class="btn btn-outline-danger" th:href="'/login?logout'">Log out</a>
                        </form>
                        <button type="button" class="btn" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <table id="table" class="display">
        <thead>
        <tr>
            <th>ID</th>
            <th>Dutch Name</th>
            <th>Scientific Name</th>
            <th>Status</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="info : ${tableInfo}">
            <td th:text="${info.id}"></td>
            <td th:text="${info.dutchName}"></td>
            <td th:text="${info.scientificName}"></td>
            <td th:text="${info.plantState}"></td>
            <td th:text="${info.date}"></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>