html {
    /*padding: 0;*/
    /*margin: 0;*/
    /*height: 98%;*/
    /*width: 100%;*/
}
body {
    background-color: whitesmoke;
    /*font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

#deleteButton {
    background: red;
    text: white;
}